input{
    font-size: 24px;
    border-radius: 10px;
    border: 1px solid #D1D5DB;
    padding: 9px 13px;
    box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.05);
    flex-grow: 1;
    min-width: 150px;
    max-width: 400px
}
form{display:flex;
gap:20px;
justify-content: center;
padding-top:20px;
padding-bottom: 10px;
}
button{border-radius: 10px;
width:200px;
font-size:24px;
padding: 9px 13px;
border: 1px solid #D1D5DB;
box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.05);
}
button:hover{
    cursor:pointer; 
}
